.storybook-link {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  cursor: pointer;
  line-height: 1;
}
.storybook-link--primary {
  color: #1ea7fd;
}
.storybook-link--secondary {
  color: #333;
}
.storybook-link--small {
  font-size: 12px;
}
.storybook-link--medium {
  font-size: 14px;
}
.storybook-link--large {
  font-size: 16px;
}
