$base-font-size: 16px;
body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: $base-font-size;
  margin: 0;
  padding: 1rem 2rem;
  background-color: #e6e6e6;
  color: #444;
}

.color__prime {
  color: #000;
}

.color__alt {
  color: #333;
}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.App__nav--container {
  flex: 0 0 100%;
  max-width: 100%;
  @media (min-width: 768px) {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.App__main--container {
  flex: 0 0 100%;
  max-width: 100%;
  @media (min-width: 768px) {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}