.storybook-row {
  display: flex;
  flex-flow: row wrap;
}

.storybook-row--start {
  justify-content: flex-start;
}

.storybook-row--end {
  justify-content: flex-end;
}

.storybook-row--center {
  justify-content: center;
}

.storybook-row--space-around {
  justify-content: space-around;
}

.storybook-row--space-between {
  justify-content: space-between;
}

.storybook-row--space-evenly {
  justify-content: space-evenly;
}
